{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}


{# list cateories #}
{% if categories|default %}

<h1>Liste des catégories</h1>
    {% for categorie in categories %}
        {{ categorie }}
    {% endfor %}

{% endif %}



{# list course #}
{% if course|default %}

<h1>Liste des cours</h1>
    {% for course in courses %}
        {{ course }}
    {% endfor %}
{% endif %}



{# list program #}
{% if programs|default %}

<h1>Liste des cours</h1>
    {% for program in programs %}
        {{ program }}
    {% endfor %}
{% endif %}

{% endblock %}