{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

{# list students #}

{% if sessions|default %}

    <h1>Liste des stagiaires</h1>
    <ul>
        {% for student in students %}
            <li>{{ student }}</li>
        {% endfor %}
    </ul>

{% endif %}

{# list user #}

{% if users|default %}

    <h1>Liste des stagiaires</h1>
    <ul>
        {% for user in users %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>

{% endif %}


{% endblock %}