{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}

<div class="wrapper">
    <h1>{{ controller_name }}!</h1>
</div>

<h1>Liste des stagiaires</h1>
<ul>
{% for student in students %}
<li>{{ student }}</li>
{% endfor %}
</ul>


{% endblock %}