{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %}

{# formation #}
{% if formations|default %}
{# cards inclinés #}


<div id="container-home" class="uk-container">

    <div class="card-container uk-child-width-1-4@s">

         {% for formation in formations %}
       
            <div class="card">
                <div class="card-image" style="background-image: url('{{ asset('img/' ~ formation.name ~ '.jpg') }}')"></div>
                <div class="card-content">
                    <h1>{{ formation.name }}</h1>
                </div>
            </div>
        {% endfor %} 
    </div>
</div>

{% else %}
<h2>Aucune informations en base de données</h2>
{% endif %}
{% endblock %}