{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>{{ controller_name }}!</h1>
</div>

<div id="footer">
    <div class="input-controller">

        <div>
            <span class="span-color">Controller:</span>
            <code>C:/laragon/www/session/src/Controller/StudentController.php</code>
        </div>
        
        <div>
            <span class="span-color">Views</span>
            <code>C:/laragon/www/session/templates/student/index.html.twig</code>
        </div>

    </div>
</div>
{% endblock %}
