<div class="uk-position-fixed uk-position-bottom uk-width-expand background-color">
    <div class="uk-container">
        <div class="uk-card uk-card-small uk-card-default uk-card-body">
            <div class="uk-padding uk-column-1-2 uk-text-center">
                <p>
                    <span class="link-color">Controller: </span><span class="error-color">{{ controller_name }}</span>
                </p>
                <p>
                    <span class="link-color">View: </span><span class="error-color">{{ view_name }}</span>
                </p>
            </div>
        </div>
    </div>
</div>