
<div class="uk-position-fixed uk-position-bottom uk-width-expand background-color">
    <div class="uk-container">
        <div class="uk-card uk-card-small uk-card-default uk-card-body">
            <div class="uk-padding uk-column-1-2 uk-text-center">
                <p>col-1</p>
                <p>col-2</p>
            </div>
        </div>
    </div>
</div>
